<!doctype html>
<body><meta http-equiv="refresh" content="60"></body>
<style>
#center{ MARGIN-RIGHT: auto;MARGIN-LEFT: auto;background:#eff7ff;width:600px;
    height:500px;vertical-align:left;overflow-y:scroll; overflow-x:scroll}
</style>
<title>“花盆伴侣”物联网系统</title>
<h1 align="center">“花盆伴侣”物联网系统</h1>
<h2 align="center">V0.1</h2>
<p align="center">　</p>
</div>
<div align="center">
	<table border="1" width="80%"  cellspacing="0" >
		<tr height="40" align="center" width="30%">
			<td><b>环境温度</b></td>
			<td>{{sensor1}}</td>
			<td rowspan="3">
				<h2 align="center"><a href="/">刷新</a></h2>
				<h2 align="center"><a href="/set?open=1">浇水</a></h2>
			</td>
		</tr>
		<tr height="40" align="center" width="30%">
			<td><b>环境光线</b></td>
			<td>{{sensor2}}</td>
		</tr>
		<tr height="40" align="center" width="40%">
			<td><b>花盆湿度</b></td>
			<td>{{sensor3}}</td>
		</tr>
	</table>
</div>

